{
    "tokenSecret": "85e0c0d3d",
    "apiToken": "959654580b4f0837c7f3d9201bfdd2c33941ddd7",
    "subscribeRedirectUrl": "http://localhost:1313/",
    "unsubscribeRedirectUrl": "http://localhost:1313/",
    "supportedNewsletters": "Listing1;Listing2"
}
